* {
    margin: 0;
    padding: 0;
}
/*-----navbar-----*/
.navbar-brand { /*don't change this title*/
    font-family: 'Teko', sans-serif;
    font-size: 100px !important;
    margin-top: 1%;
}
.nav-position {
    display: flex;
    justify-content: flex-end;
}
.nav-link {
    font-family: 'Teko', sans-serif;
    font-size: 40px !important;
}
/*-----header-----*/

.header {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 2, 0.7),rgba(4,9,30,.7)), url(car-pics/orange-big.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    flex-direction: column;
    border-width: 10px;
}
.header div {
    position: relative;
    bottom: 22vh;
}

.header h1 {
    font-size: 75px;
}
.header h2 {
    font-size: 50px;
}
.header h3 {
    font-size: 35px;
} 

/*-----Button-----*/

.button:link,
.button:visited {
    display: block;            
    text-decoration: none;

    position: relative;
    top: 10vh;
    color: rgb(228, 127, 13);
    background-color: transparent;

    font-size: 9vh;
    padding: 20px;
    text-align: center;
    justify-content: center;
    /* border: 2px solid #5D6063;  */
    border-radius: 5px;
    /* opacity: .5; */
  
    width: 100%;
    margin: 20px auto;
  }
.button:hover {
  color: #FFF;
  background-color: #9b5f10;
  /* opacity: 0.75; */
  transition: 0.5s;
}

/*-----footer-----*/
.footer {
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 1px;
}
.fa-github {
    color: white;
}
.fa-github:hover {
    opacity: 0.7;
}

/*-----Cars/Team Page-----*/

.masonry {
    margin-top: 1em;
    column-count: 3;
    column-gap: 1em;
  }
  .masonry img{
      width: 100%;
      height: 100%;
  }
  
  .item {
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
  }

  /*-----About Us-----*/
  .text {
      background-color: black;
      padding: 1em;
      color:#FFF;
      margin: 0 0 1em;
  }

  .headers {
    background-color: black;
    padding: 1em;
    margin: 0 1em 0 1em;
    color:#FFF;
    text-align: center;
    }

/*-----responsive design-----*/

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .masonry {
        column-count: 1;
    }
}
    
  /* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 990px) {
    .masonry {
        column-count: 2;
    }
}
/* Desktop Styles */
@media only screen and (min-width: 991px) {

    .nav-height {
        height: 100px;
    }
}